@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&family=Italiana&display=swap");
/* cssリセット */
/*利用するタグによってこちらの内容は増やす*/
html,
body,
h1,
h2,
h3,
h4,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #012f4e;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-feature-settings: "palt";
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.3s;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

main {
  background: linear-gradient(to bottom, #f7e3da, #dab4b4);
}

.pc_nav {
  display: none;
  position: fixed;
  background: rgba(1, 47, 78, 0.8);
  width: 100%;
  height: 100vh;
  padding-left: 13%;
  padding-top: 200px;
  z-index: 98;
}
.pc_nav h4 {
  width: 40px;
  padding-bottom: 10px;
  border-bottom: solid 1px #ffffff;
  margin-bottom: 80px;
}
.pc_nav ul .menu_btn {
  display: block;
  font-family: Cambay;
  font-size: 30px;
  color: #ffffff;
  position: relative;
  margin-bottom: 80px;
  padding-left: 40px;
}
@media screen and (max-width: 767px) {
  .pc_nav ul .menu_btn {
    font-size: 22px;
  }
}
.pc_nav ul .menu_btn::before {
  content: "";
  position: absolute;
  top: 42%;
  left: 0px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}
@media screen and (max-width: 767px) {
  .pc_nav ul .menu_btn::before {
    width: 17px;
    height: 17px;
  }
}
.pc_nav ul .menu_btn::after {
  content: "";
  position: absolute;
  top: 42%;
  left: 15px;
  transform: translateY(-50%);
  width: 15px;
  height: 2px;
  background: #ffffff;
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  .pc_nav ul .menu_btn::after {
    width: 12px;
  }
}
.pc_nav ul .menu_btn:hover::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  left: 7px;
}
@media screen and (max-width: 767px) {
  .pc_nav ul .menu_btn:hover::after {
    left: 6px;
  }
}

.pc_btn {
  font-family: Cambay;
  font-size: 30px;
  color: #ffffff;
  position: relative;
  padding-right: 40px;
  z-index: 99;
}
@media screen and (max-width: 767px) {
  .pc_btn {
    font-size: 24px;
  }
}

.pc_btn::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}
@media screen and (max-width: 767px) {
  .pc_btn::before {
    width: 17px;
    height: 17px;
  }
}

.pc_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: 15px;
  height: 2px;
  background: #ffffff;
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  .pc_btn::after {
    width: 12px;
  }
}

.pc_btn:hover::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  right: 7px;
}
@media screen and (max-width: 767px) {
  .pc_btn:hover::after {
    right: 6px;
  }
}

.pc_btn.open::before {
  border-radius: 0%;
  top: 10px;
  width: 25px;
  right: 0px;
  height: 0px;
  transform: rotate(45deg);
  background: #ffffff;
}
@media screen and (max-width: 767px) {
  .pc_btn.open::before {
    width: 20px;
    top: 8px;
  }
}

.pc_btn.open::after {
  border-radius: 0%;
  width: 25px;
  height: 0px;
  top: 10px;
  right: 0px;
  border: 2px solid #ffffff;
  transform: rotate(135deg);
}
@media screen and (max-width: 767px) {
  .pc_btn.open::after {
    width: 20px;
    top: 8px;
  }
}

.second_header {
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  /* 非表示にする */
  opacity: 0;
  visibility: hidden;
  z-index: 99;
}
.second_header .header_wrap {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1.5vw;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
}
@media screen and (max-width: 767px) {
  .second_header .header_wrap {
    padding: 3.5vw;
  }
}
.second_header .header_wrap .emiuno_logo {
  width: 58px;
}
@media screen and (max-width: 767px) {
  .second_header .header_wrap .emiuno_logo {
    width: 50px;
  }
}
.second_header .header_wrap .emiuno_logo.open {
  opacity: 0;
}
.second_header .header_wrap .pc_btn {
  font-family: Cambay;
  font-size: 30px;
  color: #ffffff;
  padding-right: 40px;
}
@media screen and (max-width: 767px) {
  .second_header .header_wrap .pc_btn {
    font-size: 24px;
  }
}
.second_header .header_wrap .pc_btn::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}
@media screen and (max-width: 767px) {
  .second_header .header_wrap .pc_btn::before {
    width: 17px;
    height: 17px;
  }
}
.second_header .header_wrap .pc_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: 15px;
  height: 2px;
  background: #ffffff;
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  .second_header .header_wrap .pc_btn::after {
    width: 12px;
  }
}
.second_header .header_wrap .pc_btn:hover::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  right: 7px;
}
@media screen and (max-width: 767px) {
  .second_header .header_wrap .pc_btn:hover::after {
    right: 6px;
  }
}
.second_header .header_wrap .pc_btn.open::before {
  border-radius: 0%;
  top: 10px;
  width: 25px;
  right: 0px;
  height: 0px;
  transform: rotate(45deg);
  background: #ffffff;
}
@media screen and (max-width: 767px) {
  .second_header .header_wrap .pc_btn.open::before {
    width: 20px;
    top: 8px;
  }
}
.second_header .header_wrap .pc_btn.open::after {
  border-radius: 0%;
  width: 25px;
  height: 0px;
  top: 10px;
  right: 0px;
  border: 2px solid #ffffff;
  transform: rotate(135deg);
}
@media screen and (max-width: 767px) {
  .second_header .header_wrap .pc_btn.open::after {
    width: 20px;
    top: 8px;
  }
}
.second_header .header_img {
  width: 100%;
  transition: opacity 0.3s, transform 0.3s;
}
@media screen and (max-width: 767px) {
  .second_header .header_img {
    display: none;
  }
}
.second_header .header_img.open {
  opacity: 0;
}
.second_header .header_img_sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .second_header .header_img_sp {
    display: block;
    width: 100%;
  }
}
.second_header .header_img_sp.open {
  opacity: 0;
}

.is_active {
  /* 表示する */
  opacity: 0.5;
  visibility: visible;
  transition: opacity 0.5s, transform 0.5s;
}

.is_active:hover {
  opacity: 1;
}

.footer {
  height: 322px;
  background: linear-gradient(to bottom, #f7e3da, #dab4b4);
  padding-top: 100px;
  padding-left: 7%;
}
@media screen and (max-width: 767px) {
  .footer {
    height: 530px;
    padding-top: 200px;
  }
}

.footer .footer_btn {
  font-family: Cambay;
  font-size: 26px;
  color: #012f4e;
  position: relative;
  margin-right: 100px;
  padding-left: 40px;
}
@media screen and (max-width: 767px) {
  .footer .footer_btn {
    font-size: 17px;
    margin-right: 0px;
    display: block;
    padding-left: 40px;
    margin-bottom: 40px;
  }
}

.footer .footer_btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #012f4e;
}
@media screen and (max-width: 767px) {
  .footer .footer_btn::before {
    width: 13px;
    height: 13px;
  }
}

.footer .footer_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 15px;
  height: 2px;
  background: #012f4e;
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  .footer .footer_btn::after {
    width: 9px;
    left: 11px;
  }
}

.footer .footer_btn:hover::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #012f4e;
  left: 7px;
}

.footer .copyright {
  margin-top: 265px;
  padding-right: 10%;
  text-align: right;
}

h2 {
  font-size: 30px;
  letter-spacing: 0.1em;
  font-family: Italiana;
  font-weight: normal;
}

h4 {
  font-family: Italiana;
  color: #ffffff;
  font-size: 30px;
}

.contact,
.totop {
  width: 73%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .contact,
  .totop {
    width: 87%;
  }
}

header {
  position: relative;
}
header .header_wrap {
  position: absolute;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1.5vw;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 767px) {
  header .header_wrap {
    padding: 3.5vw;
  }
}
header .header_wrap .emiuno_logo {
  width: 58px;
}
@media screen and (max-width: 767px) {
  header .header_wrap .emiuno_logo {
    width: 50px;
  }
}
header .header_img {
  width: 100%;
}
@media screen and (max-width: 767px) {
  header .header_img {
    display: none;
  }
}
header .header_img_sp {
  display: none;
}
@media screen and (max-width: 767px) {
  header .header_img_sp {
    display: block;
    width: 100%;
  }
}

.form_wrap {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .form_wrap {
    display: block;
    margin-bottom: 250px;
  }
}

.contact_title {
  display: flex;
  align-items: center;
  margin-left: -12%;
  padding-top: 80px;
  padding-bottom: 100px;
}
@media screen and (max-width: 767px) {
  .contact_title {
    margin-left: -5%;
  }
}
.contact_title .title {
  padding-left: 10px;
}
.contact_title .title_shape {
  width: 10px;
  height: 10px;
  border-top: 1px solid #012f4e;
  border-right: 1px solid #012f4e;
  transform: translate(-50%, 0) rotate(45deg);
}

.form_lead {
  width: 40%;
  font-size: 15px;
}
@media screen and (max-width: 767px) {
  .form_lead {
    width: 100%;
    font-size: 14px;
    padding-bottom: 80px;
    text-align: center;
    margin: 10px;
  }
}
.form_lead .lead_text,
.form_lead .lead_text2 {
  line-height: 1.74;
}
@media screen and (max-width: 767px) {
  .form_lead .lead_text2 {
    display: none;
  }
}
.form_lead .mailaddress {
  display: flex;
  padding-top: 90px;
  padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .form_lead .mailaddress {
    display: none;
  }
}
.form_lead .mailaddress img {
  width: 18px;
  padding-right: 10px;
}
@media screen and (max-width: 767px) {
  .form_lead .mailaddress img {
    display: none;
  }
}

.form_lead_sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .form_lead_sp {
    display: block;
    width: 100%;
    font-size: 13px;
    padding-bottom: 80px;
    text-align: center;
    margin: 10px;
  }
}
.form_lead_sp .lead_text2 {
  line-height: 1.74;
}
.form_lead_sp .mailaddress {
  display: flex;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 10px;
}
.form_lead_sp .mailaddress img {
  width: 18px;
  padding-right: 10px;
}

.form {
  width: 42%;
}
@media screen and (max-width: 767px) {
  .form {
    width: 95%;
  }
}
.form .question {
  font-size: 15px;
  position: relative;
  display: block;
  padding-left: 30px;
  padding-bottom: 15px;
  align-items: center;
  margin-left: -30px;
}
@media screen and (max-width: 767px) {
  .form .question {
    margin-left: -7px;
  }
}
.form .question::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 0;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid #012f4e;
}
.form .question::after {
  content: "";
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  left: 11px;
  width: 9px;
  height: 1px;
  background: #012f4e;
}
.form .answerbox {
  display: block;
  width: 100%;
  height: 36px;
  color: #012f4e;
  padding: 10px;
  background: #c1bcbd;
  border: none;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.form textarea {
  width: 100%;
  height: 290px;
  color: #012f4e;
  padding: 10px;
  background: #c1bcbd;
  border: none;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.form button {
  width: 76px;
  height: 42px;
  background: #faede8;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 140px;
  filter: drop-shadow(-5px 5px 0px rgba(85, 86, 86, 0.3));
}
@media screen and (max-width: 767px) {
  .form button {
    margin-bottom: 60px;
  }
}

.form_checkmark {
  display: block;
  position: relative;
  margin-top: 10px;
  padding-left: 28px;
  margin-bottom: 70px;
}

.form_checkmark input {
  display: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 13px;
  width: 13px;
  border: solid 1px #012f4e;
  border-radius: 4px;
  box-sizing: border-box;
}
.checkmark:after {
  content: "";
  position: absolute;
  border: solid #faede8;
  border-width: 0 2px 2px 0;
  left: 3px;
  top: 0px;
  width: 3px;
  height: 6px;
  transform: rotate(45deg);
  opacity: 0;
}

.form_checkmark input:checked + .checkmark {
  background: #012f4e;
  border-color: #012f4e;
}
.form_checkmark input:checked + .checkmark:after {
  opacity: 1;
}

textarea::-moz-placeholder {
  color: #012f4e;
  opacity: 0.5;
}

textarea::placeholder {
  color: #012f4e;
  opacity: 0.5;
}

.totop {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: -8px;
}
@media screen and (max-width: 767px) {
  .totop {
    display: block;
    margin-bottom: 0px;
    position: relative;
  }
}
.totop .hope {
  font-family: Italiana;
  letter-spacing: 0.1em;
  font-size: 50px;
  margin-left: -37%;
  color: #012f4e;
}
@media screen and (max-width: 767px) {
  .totop .hope {
    width: 317px;
    font-size: 31px;
    letter-spacing: 0.07em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 350px;
    margin-left: 0px;
  }
}
.totop .contact_btn {
  position: relative;
  right: -225px;
  bottom: -93px;
  width: 200px;
  height: 200px;
  padding: 15px;
  border-radius: 50%;
  background: linear-gradient(#345971 0%, #012f4e 25%, #345971 50%, rgba(1, 47, 78, 0.4705882353) 100%);
  background-position: 1% 50%;
  background-size: auto 200%;
  box-sizing: border-box;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .totop .contact_btn {
    left: 50%;
    transform: translateX(-50%);
    display: block;
    bottom: -99px;
  }
}
.totop .contact_btn .btn_border {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: #ffffff 1px solid;
  box-sizing: border-box;
}
.totop .contact_btn .btn_text {
  display: inline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}
.totop .contact_btn .btn_text .btn_text_en {
  font-family: Cambay;
  font-size: 22px;
}

.contact_btn:hover {
  background-position: 100% 0;
}

.thanks_wrap {
  text-align: center;
  margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .thanks_wrap {
    width: 108%;
    margin-left: -4%;
    margin-bottom: 250px;
  }
}
.thanks_wrap .bluerose {
  width: 6%;
  margin-bottom: 70px;
}
@media screen and (max-width: 767px) {
  .thanks_wrap .bluerose {
    width: 20%;
  }
}
.thanks_wrap p {
  font-size: 15px;
  line-height: 1.73;
  align-items: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .thanks_wrap p {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .thanks_wrap p span {
    display: inline-block;
  }
}
.thanks_wrap .mail_icon {
  width: 2%;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .thanks_wrap .mail_icon {
    width: 6%;
  }
}/*# sourceMappingURL=style.css.map */