@charset "utf-8";

html {
  scroll-behavior: smooth;
}

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
h4,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #4f260b;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  font-feature-settings: "palt";
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.3s;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

a:hover {
  opacity: 0.5;
}

body {
  background-color: #e8d9bf;
}

/* ヘッダー部分 */
.header_logo {
  width: 226px;
}
.header_wrap {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 7% 0 2.8%;
  width: 100%;
}
.pc_nav ul {
  display: flex;
}
.pc_nav ul li {
  width: 105px;
  margin-left: 55px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

/* メイン部分 */
.main {
  margin: 0 auto;
}

/* コンセプト部分 */
.lead {
  text-align: center;
  padding-top: 90px;
}
.concept_en {
  font-size: clamp(17px, 1.56vw, 30px);
}
.concept {
  font-size: clamp(38px, 4.27vw, 82px);
  font-weight: normal;
  padding-top: 40px;
  line-height: 1.17;
  letter-spacing: 0.1em;
}
.concept_text {
  font-size: clamp(16px, 1.19vw, 23px);
  padding-top: 30px;
  line-height: 1.65;
  letter-spacing: 0.1em;
}

/* about us部分 */
.about {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}
.about_pic_wrap {
  width: 50%;
}
.about_pic {
  height: 560px;
  object-fit: cover;
  border-radius: 0px 0px 82px 0px;
}
.about_wrap {
  width: 41%;
}
.about_pic_sp {
  display: none;
}
.about_logo {
  width: 272px;
  margin: 0 auto 40px 0;
  padding-top: 56px;
}
.about_lead {
  font-size: clamp(36px, 2.29vw, 44px);
  font-weight: normal;
  line-height: 1.38;
  margin-bottom: 20px;
}
.about_content {
  width: 100%;
  font-size: 16px;
  line-height: 1.62;
  text-align: justify;
}

/* menu部分 */
.menu {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
}
.menu_logo {
  width: 151px;
  margin: 0 auto;
}
.menu_wrap {
  display: flex;
  justify-content: space-between;
  font-size: 38px;
  padding-top: 40px;
}
.menu_item {
  width: 30%;
}
.menu_pic {
  width: 100%;
  border-radius: 0px 41px 0px 0px;
}
.menu_title {
  font-size: 38px;
  margin-top: -12px;
  margin-left: 14px;
  color: #d30202;
}
.menu_content {
  font-size: 17px;
  width: 100%;
  line-height: 1.47;
  text-align: justify;
  text-align-last: left;
  padding-top: 10px;
}

/* gallery部分 */
.gallery {
  padding-top: 80px;
}
.gallery_logo {
  margin: 0 auto;
  padding-bottom: 27px;
  width: 245px;
  vertical-align: bottom;
}
.gallery_pic {
  position: relative;
  box-sizing: border-box;
  display: block;
}
.gallery_pic_wrap {
  display: flex;
}

/* event部分 */
.event {
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 71px;
  padding-left: 10px;
  padding-right: 10px;
}
.event_logo {
  margin: 0 auto;
  width: 173px;
  vertical-align: bottom;
  padding-bottom: 30px;
}
.event_block {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border: 3.6px solid #4f260b;
}
.event_list {
  font-size: 23px;
  padding: 40px 30px;
}
time {
  margin-right: 50px;
}
.event_item {
  margin-top: 20px;
}
.border {
  text-decoration: underline;
}

/* access部分 */
.access_logo {
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 27px;
  width: 213px;
  vertical-align: bottom;
}
.access_map iframe {
  width: 100%;
  height: 100%;
  display: block;
  height: 470px;
}

/* フッター部分 */
.footer {
  background-color: #fff;
  padding-top: 82px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 80px;
}
.footer_wrap {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}
.footer_logo {
  height: 50px;
  margin-top: -7px;
  padding-right: 70px;
}
.footer_list {
  font-size: 20px;
  color: black;
  padding-bottom: 20px;
}
.copyright {
  text-align: center;
  padding-top: 60px;
}
.copyright p {
  color: black;
}

/* トップボタン */
.pagetop {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 125px;
}

/* スマホ対応 */
@media screen and (max-width: 767px) {
  .header_wrap {
    display: block;
  }
  .header_logo {
    width: 187px;
  }
  .pc_nav ul {
    display: block;
  }

  .lead {
    padding-top: 40px;
  }
  .concept {
    font-size: 38px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    padding-top: 25px;
  }
  .concept_text {
    width: 336px;
    font-size: 16px;
    line-height: 1.87;
    margin: 0 auto;
    padding-top: 15px;
  }
  .concept_text span {
    display: inline-block;
  }

  .about {
    display: block;
    padding-top: 0px;
    padding-left: 0;
    padding-right: 0;
  }
  .about_pic {
    display: none;
  }
  .about_wrap {
    width: 100%;
  }
  .about_pic_sp {
    width: 100%;
    display: block;
  }
  .about_logo {
    width: 160px;
    display: block;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 10px;
  }
  .about_lead {
    margin-top: 30px;
    margin-left: 5.3%;
    margin-right: 5.3%;
  }
  .about_content {
    width: 89%;
    margin-left: 5.3%;
    margin-right: 5.3%;
  }

  .menu {
    padding-top: 50px;
    padding-left: 9.8%;
    padding-right: 9.8%;
  }
  .menu_logo {
    width: 87px;
  }
  .menu_item {
    width: 100%;
  }
  .menu_wrap {
    display: block;
    padding-top: 20px;
  }
  .menu_content {
    line-height: 1.58;
    padding-top: 10px;
    margin-bottom: 50px;
  }

  .gallery {
    padding-top: 30px;
  }
  .gallery_logo {
    width: 142px;
    padding-bottom: 20px;
  }

  .event {
    padding-left: 5.3%;
    padding-right: 5.3%;
  }
  .event_block {
    display: block;
  }
  .event_logo {
    width: 100px;
  }
  .event_block ul li {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .event_list {
    padding: 20px 2.5% 15px 6.47%;
    font-size: 16px;
  }
  .border {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .access_logo {
    width: 124px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .access_map iframe {
    height: 190px;
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 20px;
  }
  .footer_wrap {
    display: block;
  }
  .footer_logo {
    margin: 0;
    padding-bottom: 15px;
  }
  .footer_list {
    font-size: 18px;
    padding-top: 13px;
    padding-bottom: 0px;
  }
  .copyright {
    padding-top: 40px;
  }

  .pagetop {
    right: 5px;
    bottom: 20px;
    width: 100px;
  }
}

/* ハンバーガーメニュー */
.sp_nav,
.sp_btn {
  display: none;
}

.slick-dots {
  bottom: 20px;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  color: #fff;
  font-size: 16px;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-next {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
  transform: translate(-50%) rotate(45deg);
  right: 21%;
  position: absolute;
  z-index: 1;
}

.slick-next:before {
  display: none;
}

.slick-prev {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
  transform: translate(50%) rotate(225deg);
  left: 21%;
  position: absolute;
  z-index: 1;
}

.slick-prev:before {
  display: none;
}

.gallery_pic slick-slide slick-active {
  width: 465px;
}

@media screen and (max-width: 767px) {
  .slick-slide img {
    width: 100%;
  }

  .slick-next {
    width: 15px;
    height: 15px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: translate(0, -50%) rotate(45deg);
    right: 5%;
  }

  .slick-prev {
    width: 15px;
    height: 15px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: translate(0, -50%) rotate(225deg);
    left: 5%;
  }

  /* スライドのために増やした1枚を非表示にしたいのですが、うまくできません。。 */
  .gallery_pic_sp {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .pc_nav {
    display: none;
  }

  .sp_btn {
    position: absolute;
    top: 20px;
    right: 25px;
    display: block;
    height: 23px;
    cursor: pointer;
    z-index: 2;
  }
  .sp_btn span {
    position: relative;
    top: 10px;
    display: block;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    transition: 0.3s;
  }
  .sp_btn span::before,
  .sp_btn span::after {
    position: absolute;
    content: "";
    display: block;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    transition: 0.3s;
  }
  .sp_btn span::before {
    bottom: 10px;
  }
  .sp_btn span::after {
    top: 10px;
  }

  /* ハンバーガーメニュー閉じる */
  .sp_btn.open span {
    background: transparent;
  }
  .sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  .sp_btn.open span::after {
    top: 0;
    transform: rotate(135deg);
  }

  /* ハンバーガーメニュー */
  .sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }

  .sp_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .sp_nav ul li {
    padding: 20px 0;
    color: #fff;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
      "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  }
}

.border {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
