@charset "utf-8";

@use "../../css/common";

// レスポンシブ対応
// ブレイクポイント
$mb: 767px;
// @mediaのフォーマット
@mixin mobile {
  @media screen and (max-width: $mb) {
    @content;
  }
}

h2 {
  font-family: Italiana;
  font-weight: normal;
  font-size: 30px;
  letter-spacing: 0.1em;
}

h3 {
  font-family: Italiana;
  font-weight: normal;
  font-size: 25px;
}
h4 {
  font-family: Italiana;
  font-weight: normal;
  color: #ffffff;
  font-size: 30px;
}

.about,
.contact {
  width: 73%;
  margin: 0 auto;
  @include mobile {
    width: 83%;
  }
}

header {
  position: relative;
  .header_wrap {
    position: absolute;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3%;
    @include mobile {
      padding: 25px;
    }
    .emiuno_logo {
      width: 58px;
      @include mobile {
        width: 50px;
      }
    }
  }
  .header_img {
    width: 100%;
    @include mobile {
      display: none;
    }
  }
  .header_img_sp {
    display: none;
    @include mobile {
      display: block;
      width: 100%;
    }
  }
}

.about {
  padding-top: 70px;
}
.about_title {
  display: flex;
  align-items: center;
  padding-bottom: 80px;
  margin-left: -12%;
  @include mobile {
    margin-left: -5%;
  }
}
.title {
  padding-left: 10px;
}
.title_shape {
  width: 10px;
  height: 10px;
  border-top: 1px solid #012f4e;
  border-right: 1px solid #012f4e;
  transform: translate(-50%, 0) rotate(45deg);
}

.about_wrap {
  display: flex;
  justify-content: space-between;
  @include mobile {
    display: block;
  }
  .about_pic {
    width: 28%;
    @include mobile {
      width: 100%;
      text-align: center;
    }
  }
  img {
    width: 90%;
    padding-top: 38px;
    padding-bottom: 80px;
    @include mobile {
      padding-top: 50px;
    }
  }
}
.about_left {
  width: 33%;
  @include mobile {
    width: 100%;
  }
  .left_title {
    display: flex;
    align-items: baseline;
    font-family: Cambay;
    font-size: 24px;
    span {
      padding-left: 10px;
    }
  }
  .left_content {
    padding-top: 40px;
    p {
      font-size: 14px;
      padding-bottom: 30px;
      line-height: 1.78;
    }
  }
}
.about_right {
  width: 30%;
  @include mobile {
    width: 100%;
    margin-bottom: 250px;
  }
  .right_title {
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid #012f4e;
    padding-bottom: 10px;
    .ja_title {
      margin-left: 10px;
      font-size: 15px;
    }
  }
  ul {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 40px;
    @include mobile {
      margin-bottom: 50px;
    }
    li {
      display: flex;
      align-items: baseline;
      padding-bottom: 10px;
      span {
        padding-right: 10px;
      }
    }
  }
  .vision_content {
    padding-top: 10px;
    p {
      font-size: 14px;
      line-height: 1.78;
      letter-spacing: 0.05em;
      padding-bottom: 30px;
    }
  }
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: -8px;
  @include mobile {
    display: block;
    margin-bottom: 0px;
    position: relative;
  }
  .hope {
    font-family: Italiana;
    font-weight: normal;
    font-size: 50px;
    margin-left: -12%;
    color: #012f4e;
    letter-spacing: 0.1em;
    @include mobile {
      width: 315px;
      font-size: 31px;
      letter-spacing: 0.07em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-bottom: 350px;
      margin-left: 0px;
    }
  }
  .contact_btn {
    position: relative;
    right: -90px;
    bottom: -93px;
    width: 200px;
    height: 200px;
    padding: 15px;
    border-radius: 50%;
    background: linear-gradient(
      to bottom,
      rgba(38, 49, 101, 0.7),
      rgb(1, 47, 78)
    );
    box-sizing: border-box;
    cursor: pointer;
    @include mobile {
      left: 50%;
      transform: translateX(-50%);
      display: block;
      bottom: -99px;
    }
    .btn_text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #ffffff;
    }
    .btn_border {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: #ffffff 1px solid;
      box-sizing: border-box;
    }
  }
}
