@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&family=Italiana&display=swap");

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
h4,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #012f4e;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-feature-settings: "palt";
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.3s;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

h2,
h3,
h4,
h5 {
  font-family: Italiana;
  font-weight: normal;
}

main {
  background: linear-gradient(to bottom, #f7e3da, #dab4b4);
  width: 100vw;
}

.pc_btn {
  font-family: Cambay;
  font-size: 30px;
  color: #ffffff;
  position: relative;
  padding-right: 40px;
}
.pc_btn::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}
.pc_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: 15px;
  height: 2px;
  background: #ffffff;
  transition: 0.3s;
}
.pc_btn:hover::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  right: 7.5px;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .contact .contact_btn {
    position: relative;
    right: -90px;
    bottom: -100px;
    width: 200px;
    height: 200px;
    padding: 15px;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(38, 49, 101, 0.7), rgb(1, 47, 78));
    box-sizing: border-box;
  }
  .contact .contact_btn .btn_text {
    position: absolute;
    top: 92px;
    right: 52px;
    color: #FFFFFF;
  }
  .contact .contact_btn .btn_border {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: #FFFFFF 1px solid;
    box-sizing: border-box;
  }

.footer {
    height: 322px;
    background: linear-gradient(to bottom, #F7E3DA, #DAB4B4);
    padding-top: 100px;
    padding-left: 10%;
  }
  .footer .footer_btn {
    font-family: Cambay;
    font-size: 26px;
    color: #012F4E;
    position: relative;
    padding-right: 100px;
  }
  .footer .footer_btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #012F4E;
  }
  .footer .footer_btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    right: 15px;
    width: 15px;
    height: 2px;
    background: #012F4E;
    transition: 0.3s;
  }
  .footer .footer_btn:hover::after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #012F4E;
    right: 7.5px;
  }
  .footer .copyright {
    margin-top: 265px;
    padding-right: 10%;
    text-align: right;